*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
}
.header{
    display: flex;
    flex-direction: column;
}
.header-superior{
    background-image: url('./image/header.webp');
    background-size: cover;
    height: 200px;
    width: 100%;
}
.header-superior_enlace{
    background: rgb(3, 1, 1, 0.7);
    display: flex;
    border: 1px solid  white;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 60%;
    margin-right: 5px;
    font-size: 12px;
    justify-content: center;
}
.header-inferior{
    background: #040714;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-inferior_imagen img {
    width: 200px;
    height: 120px;
}
.header-inferior_descripcion {
    padding: 20px;
    color: white;
    text-align: center;
}
.header-inferior_descripcion h2{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.header-inferior_eleccionPlanes {
    background: #040714;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.header-inferior_eleccionPlanes_Estandar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}
.header-inferior_eleccionPlanes_Estandar  a {
    background: #02d6e8;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 18px 35px;
    color: #040714;
}

.header-inferior_eleccionPlanes_Estandar h4 {
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 5px;
}
.header-inferior_eleccionPlanes_Premium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.header-inferior_eleccionPlanes_Premium a {
    background: #02d6e8;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 18px 35px;
    color: #040714;
}
.header-inferior_eleccionPlanes_Premium h4 {
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 5px;
}
.header-inferior_eleccionPlanes_detalles {
    padding: 10px;
    margin: 20px 5px 40px 5px;
}
.header-inferior_eleccionPlanes_detalles a{
    color: white;
    font-size: 15px;
    font-weight: bold;
}


/* Doy estilos al MAIN */
/*SECCION UNO*/
.main-Seccion_uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #040714;
    padding: 30px;
    text-align: center;
}
.main-Seccion_uno-descripcion {
    color: white;
    margin-top: 30px;
    margin-bottom: 70px;
}
.main-Seccion_uno-descripcion h4 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
}
.main-Seccion_uno-descripcion h5 {
    font-size: 13px;
}
.main-Seccion_uno_imagen img{
    object-fit: fill;
    height: 200px;
    width: 100%;
}

/*SECCION DOS*/
.main-Seccion_dos {
    background: #040714;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-Seccion_dos_titulo{
    margin-bottom: 20px;
    text-align: center;
}
.main-Seccion_dos_titulo h2{
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 30px;
}
.main-Seccion_dos_titulo h4{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
}

.main-Seccion_dos_eleccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
}
.main-Seccion_dos_eleccion_cabecera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid grey;
}
.main-Seccion_dos_eleccion_cabeceraOpciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-Seccion_dos_eleccion_cabeceraOpciones h2 {
    background: #02d6e8;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px 25px;
    color: #040714;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}
.main-Seccion_dos_eleccion_cabeceraOpciones a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
}



.main-Seccion_dos_eleccion_Estrenos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid grey;
}
.signo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    text-align: center;
}
.main-Seccion_dos_eleccion_Eventos{
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*SECCION CUATRO*/
.main-Seccion_cuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #040714;
    padding: 30px;
    text-align: center;
}
.main-Seccion_cuatro_superior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-Seccion_cuatro_superior_descripcion {
    color: white;
    margin-top: 30px;
    margin-bottom: 70px;
}
.main-Seccion_cuatro_superior_descripcion h4 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 25px;
}
.main-Seccion_cuatro_superior_descripcion h5 {
    font-size: 18px;
}
.main-Seccion_cuatro_superior_imagen img{
    object-fit: fill;
    height: 200px;
    width: 100%;
}
.main-Seccion_cuatro_inferior {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-Seccion_cuatro_inferior_titulo {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}
.main-Seccion_cuatro_inferior_preguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-Seccion_cuatro_inferior_preguntas a{
    text-decoration: none;
    color: white;
    background-color: #00000086;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

/*FOOTER*/
.footer { 
    background:#000518;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-informacion {
    display: flex;
    flex-direction: column;
}
.footer-informacion_politicas_acuerdos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-informacion_politicas_acuerdos h3{
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 5px;
}
.footer-informacion_politicas_acuerdos h4 {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 15px;
}
.footer-informacion_ayuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid grey ;
}
.footer-informacion_ayuda h3 {
    font-size: 15px;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: left;
}
.footer-empresas_plataformas {
    display: flex;
    flex-direction: column;
}
.footer-empresas_redes a {
    align-items: baseline;
    margin: 10px;
}
.footer-logo img {
    width: 200px;
    height: 120px;
    margin-bottom: 20px;
}
.footer-licencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-licencias p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 30px 30px 0 30px;
}
